/* DESKTOP */

@media screen and (min-width: 900px) {

    * {
        transition: .25s ease;
    }

    .separator {
        width: 25em;
    }

    header, main, footer {
        max-width: 1250px;
        margin: 0 auto;
    }

    header > h1 {
        display: inline-block;
        margin: 0.2em;
    }

    header > nav {
        display: inline-block;
    }

    header > nav > ul {
        display: inline;
        margin: 0 0 0 0.5em;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        gap: 0.8em 1em;
    }

    .grid > h1, .affiche, .affiche + .separator, .info, .info + .separator, .synopsis {
        grid-column: 1/4;
    }

    main .synopsis > p {
        width: 60%;
    }

    main .episodes {
        grid-column: 4/5;
        position: absolute;
        top: 0;
        right: 0;
    }

    main section > h2 {
        grid-column: 1/5;
    }

    main > #searchbar > form > input {
        width: 660px;
    }

    .streaming > video {
        max-width: 50em;
    }

    main .comments {
        grid-column: 2/4;
    }

    .history article, .favorites article {
        padding: 0.2em 3em;
        border: none;
        box-shadow: none;
        text-align: justify;
        text-justify: inter-word;
    }

    #user {
        right: 1em;
        top: 42%;
    }

}

/* TABLET */

@media screen and (max-width: 900px) and (min-width: 740px) {

    .separator {
        width: 45%;
    }

    header > h1 {
        display: inline-block;
        margin: 0.2em;
    }

    header > nav {
        display: inline-block;
    }

    header > nav > ul {
        display: inline;
        margin: 0 0 0 0.5em;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 0.8em 1em;
    }

    .grid > h1, .affiche, .affiche + .separator, .info, .info + .separator, .synopsis {
        grid-column: 1/2;
    }

    main .synopsis > p {
        width: 80%;
    }

    main .episodes {
        grid-column: 2/3;
        position: absolute;
        top: 0;
        right: 0;
    }

    main section > h2 {
        grid-column: 1/3;
    }

    main > #searchbar > form > input {
        width: 80%;
    }

    .streaming > video {
        max-width: 50em;
    }

    main .comments {
        grid-column: 1/3;
    }

    .history article, .favorites article {
        padding: 0.2em 2.5em;
        border: none;
        box-shadow: none;
        text-align: justify;
        text-justify: inter-word;
    }

    #user {
        right: 1em;
        top: 42%;
    }

}

/* MOBILE */

@media screen and (max-width: 740px) {

    .separator {
        width: 80%;
    }

    header > h1, header > nav {
        display: block;
        text-align: center;
    }

    header > nav > ul {
        margin: 0;
        padding: 0;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 0.8em 1em;
    }

    main .synopsis > p {
        width: 90%;
    }

    main > #searchbar > form > input {
        width: 90%;
    }

    .streaming > video {
        max-width: 100%;
    }

    main .comments {
        grid-column: 1;
    }

    .history article, .favorites article {
        padding: 0.2em 0;
        border: none;
        box-shadow: none;
        text-align: justify;
        text-justify: inter-word;
    }

    #user {
        right: 1em;
        top: 20%;
    }

}

/* GENERAL POINTERS */

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
    margin: 0;
    background: #202020;
}

header, main, footer {
    background: #FFF;
}

h1, h2, h3 {
    font-weight: 600;
    color: #333333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

dl {
    display: inline-block;
    max-width: 26em;
}

dt {
    font-weight: 600;
}

dt, dd {
    text-align: left;
}

video[poster] {
    width: 100%;
    height: 100%;
}

/* GENERAL CLASSES */

.separator {
    border-bottom: 1px solid #D6D6D6;
    margin: 1.5em 0 1.5em 0;
    margin-left: auto;
    margin-right: auto;
}

.synopsis > p {
    margin: 1em auto;
}

.comments > h2 {
    text-align: center;
}

.comments > form {
    margin: 0 0 1em 0;
}

.comments > form > input {
    display: block;
    margin: 0 0 0.5em 2%;
    border: 1px rgba(0,0,0,0.15) solid;
    padding: 0.2em;
    border-radius: 0.2em;
}

.comments > form > textarea {
    display: block;
    width: 94%;
    margin: 0 0 1em 2%;
    border: 1px rgba(0,0,0,0.15) solid;
    padding: 0.2em;
    border-radius: 0.2em;
}

.comments > form > button {
    display: block;
    margin: 0 auto 1em auto;
}

.comments article {
    position: relative;
    margin: 1em auto;
    width: 92%;
    padding: 0.8em;
}

.comments article > .author, .comments article > time {
    display: block;
    text-align: right;
}

.comments article > .author::after {
    content: ","
}

.fa-star {
    font-size: 0.5em;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 50%;
    padding: 0.2em;
    margin: 0 0 0 0.8em;
    transform: translateY(-18%);
}

.fa-star:hover, .fa-star:active {
    color: #FFD700;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.1);
}

.favorites article {
    position: relative;
}

.favorites article > img, .favorites article > a {
    display: inline-block;
}

.favorites article > img {
    border-radius: 0.5em;
    height: 5em;
}

.favorites article > a > h3 {
    position: absolute;
    top: 38%;
    margin: 0 0 0 1em;
}

.streaming > h3 {
    margin: 0 0 1em 0;
}

/* GENERAL IDs */

#user {
    position: absolute;
}

#user > a, #user > a:hover, #user > a:active, #user > a:visited {
    text-decoration: none;
}

#user > a > i {
    color: #FFFFFF;
    font-size: 1.6em;
}

/* HEADER */

header {
    background-color: #2a2a2a;
    position: relative;
}

header > h1 {
    text-shadow: 2px 2px #444444;
    font-size: 3em;
    background: -webkit-linear-gradient(#eee, #333);
    background-clip: inherit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header > nav > ul {
    font-size: 2em;
    font-weight: 600;
    color: rgba(255,255,255,0.5);
}

header > nav > ul > li {
    display: inline-block;
    padding: 0 0.2em;
}

header > nav > ul > li > a:link, header > nav > ul > li > a:visited {
    text-decoration: none;
    color: rgba(255,255,255,0.5);
}

header > nav > ul > li > a:hover, header > nav > ul > li > a:active {
    color: rgba(255,255,255,0.75);
}

/* MAIN */

main {
    color: #6c6c6c;
    padding: 1em 0 0 0;
    position: relative;
}

main > #searchbar {
    padding: 4em 0;
}

main > #searchbar > form > input {
    margin: 0 auto;
    display: block;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0.5em;
}

main section {
    padding: 0 1em 3em 1em;
}

main section > h2 {
    display: block;
    padding: 1em;
    margin: 0;
}

main article {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.15);
    position: relative;
}

main .grid article > div {
    width: 100%;
    height: 252px;
}

main article > h4 {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 3;
    color: #fff9f7;
    margin: 0;
}

/* PAGE DE PRESENTATION D'UNE SERIE */

main .affiche, main .info, main .synopsis, main .content, main .streaming, main .next {
    text-align: center;
}

main .affiche img {
    max-height: 18em;
    box-shadow: 0 0.3em 0.6em #2a2a2a80;
}

main .next a, main .next a > h3 {
    display: inline-block;
    color: #FFF;
    background-color: #333333;
    text-decoration: none;
    padding: 10px 20px;
}

/* ASIDE, LISTE D'EPISODES */

main .episodes {
    text-align: center;
    width: 100%;
    background-color: #2a2a2ade;
    border-bottom: 0.3em #2a2a2a solid;
    padding: 1em 0;
}

main .episodes h2, main .episodes a > h2, main .episodes a, main .episodes a:active, main .episodes a:hover, main .episodes a:visited {
    color: #FFF;
    text-decoration: none;
}

main .episodes ul {
    padding: 0;
    list-style: none;
}

main .episodes ul a, main .episodes ul a:visited {
    color: rgba(255,255,255,0.5);
    text-decoration: none;
}

main .episodes ul a:hover, main .episodes ul a:active {
    color: rgba(255,255,255,0.7);
    text-decoration: none;
}

/* FOOTER */

footer {
    display: flex;
    align-items: center;
    background-color: rgba(255,255,255,0.96);
    color: #bbbbbb;
    margin: 0 auto;
    border-radius: 0 0 0.2em 0.2em;
}

footer > p {
    padding: 0 0 0 1em;
    font-size: 0.9em;
}