/* COVER IMAGES */

#trend1 {
    background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(255,255,255,0.2) 100%), url("../src/gif/lost.gif") no-repeat center;
    background-size: cover;
}

#trend2 {
    background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(255,255,255,0.2) 100%), url("../src/gif/chernobyl.gif") no-repeat center;
    background-size: cover;
}

#trend3 {
    background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(255,255,255,0.2) 100%), url("../src/gif/dans_leur_regard.gif") no-repeat center;
    background-size: cover;
}

#trend4 {
    background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(255,255,255,0.2) 100%), url("../src/gif/interstellar.gif") no-repeat center;
    background-size: cover;
}

#new1 {
    background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(255,255,255,0.2) 100%), url("../src/gif/once_upon_a_time_in_hollywood.gif") no-repeat center;
    background-size: cover;
}

#new2 {
    background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(255,255,255,0.2) 100%), url("../src/gif/starwars_ep_IX.gif") no-repeat center;
    background-size: cover;
}

#new3 {
    background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(255,255,255,0.2) 100%), url("../src/gif/peaky_blinders.gif") no-repeat center;
    background-size: cover;
}

#new4 {
    background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(255,255,255,0.2) 100%), url("../src/gif/joker.gif") no-repeat center;
    background-size: cover;
}

#result1 {
    background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(255,255,255,0.2) 100%), url("../src/gif/lost.gif") no-repeat center;
    background-size: cover;
}

#result2 {
    background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(255,255,255,0.2) 100%), url("../src/gif/chernobyl.gif") no-repeat center;
    background-size: cover;
}

#result3 {
    background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(255,255,255,0.2) 100%), url("../src/gif/dans_leur_regard.gif") no-repeat center;
    background-size: cover;
}

#result4 {
    background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(255,255,255,0.2) 100%), url("../src/gif/interstellar.gif") no-repeat center;
    background-size: cover;
}

#result5 {
    background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(255,255,255,0.2) 100%), url("../src/gif/once_upon_a_time_in_hollywood.gif") no-repeat center;
    background-size: cover;
}

#result6 {
    background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(255,255,255,0.2) 100%), url("../src/gif/starwars_ep_IX.gif") no-repeat center;
    background-size: cover;
}

#result7 {
    background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(255,255,255,0.2) 100%), url("../src/gif/peaky_blinders.gif") no-repeat center;
    background-size: cover;
}

#result8 {
    background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(255,255,255,0.2) 100%), url("../src/gif/joker.gif") no-repeat center;
    background-size: cover;
}